@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  touch-action: manipulation;
}

body {
  overflow: hidden;
}

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}
